.DS_Store
cache/
artifacts/
exports/
deploy/
deployments/localhost
docs/
scripts/
coverage*
.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.yalc
yalc.lock
tasks/
types/
test/
!contracts/test

contractsInfo.json
deployments/hardhat
deployments/localhost
deployments/**/solcInputs
